<footer class="ps-footer">
        <div class="ps-container hideInMobile">
            <div class="ps-footer__widgets">
                {{!-- <aside class="widget widget_footer widget_contact-us hideInMobile">
                    <h4 class="widget-title">Contact us</h4>
                    <div class="widget_content">
                        <p>Call us 24/7</p>
                        <h3>1800 97 97 69</h3>
                        <p>Manhattan, New York</p>
                        <ul class="ps-list--social">
                            <li><a class="facebook" href="https://www.facebook.com/Postidal/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter" href="https://twitter.com/Postidal" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="linkedin" href="https://www.linkedin.com/company/postidal/about/?viewAsMember=true" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            <li><a class="instagram" href="https://www.instagram.com/postidal/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            <li><a class="rss" href="http://postidal.blogspot.com/" target="_blank"><i class="fa fa-rss"></i></a></li>
                        </ul>
                    </div>
                </aside> --}}
                <aside class="widget widget_footer">
                    <h4 class="widget-title">Get to Know Us</h4>
                    <ul class="ps-list--link">
                        <li><a href="{{config.root}}about-us">About Us</a></li>
                        <li><a href="{{config.root}}careers">Careers</a></li>
                        <li><a href="{{config.root}}faq">FAQ</a></li>
                    </ul>
                </aside>
                <aside class="widget widget_footer">
                    <h4 class="widget-title">Company</h4>
                    <ul class="ps-list--link">
                        <li><a href="{{config.root}}privacy-policy">Privacy Policy</a></li>
                        <li><a href="{{config.root}}cookie-policy">Cookie Policy</a></li>
                        <li><a href="{{config.root}}return-policy">Return Policy</a></li>
                    </ul>
                </aside>
                <aside class="widget widget_footer">
                    <h4 class="widget-title">Help & Customer Support</h4>
                    <ul class="ps-list--link">
                        <li><a href="{{config.root}}contact-us">Chat with us</a></li>
                        <li><a href="{{config.root}}terms-and-conditions">Terms & Conditions</a></li>
                    </ul>
                </aside>
                <aside class="widget widget_footer">
                    <h4 class="widget-title">Make Some Money With Us</h4>
                    <ul class="ps-list--link">
                        <li><a href="{{config.root}}become-a-vendor">Become a Vendor</a></li>
                    </ul>
                </aside>
            </div>
            {{!-- <div class="ps-footer__links">
                <p><strong>Consumer Electric:</strong><a href="#">Air Conditioners</a><a href="#">Audios &amp; Theaters</a><a href="#">Car Electronics</a><a href="#">Office Electronics</a><a href="#">TV Televisions</a><a href="#">Washing Machines</a>
                </p>
                <p><strong>Clothing &amp; Apparel:</strong><a href="#">Printers</a><a href="#">Projectors</a><a href="#">Scanners</a><a href="#">Store &amp; Business</a><a href="#">4K Ultra HD TVs</a><a href="#">LED TVs</a><a href="#">OLED TVs</a>
                </p>
                <p><strong>Home, Garden &amp; Kitchen:</strong><a href="#">Cookware</a><a href="#">Decoration</a><a href="#">Furniture</a><a href="#">Garden Tools</a><a href="#">Garden Equipments</a><a href="#">Powers And Hand Tools</a><a href="#">Utensil &amp; Gadget</a>
                </p>
                <p><strong>Health &amp; Beauty:</strong><a href="#">Hair Care</a><a href="#">Decoration</a><a href="#">Hair Care</a><a href="#">Makeup</a><a href="#">Body Shower</a><a href="#">Skin Care</a><a href="#">Cologine</a><a href="#">Perfume</a>
                </p>
                <p><strong>Jewelry &amp; Watches:</strong><a href="#">Necklace</a><a href="#">Pendant</a><a href="#">Diamond Ring</a><a href="#">Sliver Earing</a><a href="#">Leather Watcher</a><a href="#">Gucci</a>
                </p>
                <p><strong>Computer &amp; Technologies:</strong><a href="#">Desktop PC</a><a href="#">Laptop</a><a href="#">Smartphones</a><a href="#">Tablet</a><a href="#">Game Controller</a><a href="#">Audio &amp; Video</a><a href="#">Wireless Speaker</a><a href="#">Done</a>
                </p>
            </div> --}}
            <div class="ps-footer__copyright">
                <p>© 2020 Postidal. All Rights Reserved</p>
                {{!-- <p><span>We Using Safe Payment For:</span><a href="#"><img src="https://res.cloudinary.com/dwrl5mija/image/upload/v1591383620/1.jpg" alt=""></a><a href="#"><img src="https://res.cloudinary.com/dwrl5mija/image/upload/v1591383620/2.jpg" alt=""></a><a href="#"><img src="https://res.cloudinary.com/dwrl5mija/image/upload/v1591383620/3.jpg" alt=""></a><a href="#"><img src="https://res.cloudinary.com/dwrl5mija/image/upload/v1591383620/4.jpg" alt=""></a><a href="#"><img src="https://res.cloudinary.com/dwrl5mija/image/upload/v1591383620/5.jpg" alt=""></a></p> --}}
            </div>
        </div>
    </footer>