<header class="header header--standard header--electronic" data-sticky="true">
        <div class="header__top">
            <div class="container">
                <div class="header__left">
                    <p>Welcome to Postidal Online Shopping Store !</p>
                </div>
                <div class="header__right">
                    <ul class="header__top-links">
                        <li><a href="/postidal-robotic-delis">Postidal Robotic Delis</a></li>
                        <li><a href="/gold-membership">Gold Membership</a></li>
                        <li><a href="/track-your-order">Track Your Order</a></li>
                        <li>
                            <div class="ps-dropdown language"><a href="#"><img src="https://res.cloudinary.com/dwrl5mija/image/upload/v1594411073/flag.png" alt="" width="18" height="12">English</a>
                                <ul class="ps-dropdown-menu">
                                    <li><a href="#"><img src="https://res.cloudinary.com/dwrl5mija/image/upload/v1591383602/germany.png" alt=""> Spanish</a></li>
                                    <li><a href="#"><img src="https://res.cloudinary.com/dwrl5mija/image/upload/v1591383602/fr.png" alt=""> French</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="header__content">
            <div class="container">
                <div class="header__content-left"><a class="ps-logo" href="{{config.root}}"><img src="https://res.cloudinary.com/dwrl5mija/image/upload/v1593630269/WhatsApp_Image_2020-07-02_at_12.32.47_AM.jpg" alt=""></a>
                    <div class="menu--product-categories">
                        <div class="menu__toggle"><i class="icon-menu"></i><span> Shop by Department</span></div>
                        <div class="menu__content">
                            <ul class="menu--dropdown">

                                {{#each headerCategories}}
                                <li class="menu-item-has-children has-mega-menu"><a href="/{{config.root}}category/{{slug}}"><i class="icon-laundry"></i> {{name}}</a>
                                    {{#if subcat.length}}
                                    <div class="mega-menu">
                                        <div class="mega-menu__column">
                                            <ul class="mega-menu__list">
                                                {{#each subcat}}
                                                <li><a href="/{{config.root}}shop?page=1&subcategory={{_id}}">{{name}}</a></li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                    </div>
                                    {{/if}}
                                </li>
                                {{/each}}

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="header__content-center">
                    <form class="ps-form--quick-search" action="{{config.root}}shop" method="get">
                        <div class="form-group--icon">
                            <div><i class="icon-chevron-down"></i></div>
                            <select class="form-control" name="category">
                                <option value="">All</option>
                                {{#each headerCategories}}
                                <option value="{{_id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <input class="form-control" type="text" placeholder="I'm shopping for..." name="search" value={{searchValue}}>
                        <button>Search</button>
                    </form>
                </div>
                <div class="header__content-right">
                    <div class="header__actions"><a class="header__extra" href="#"><i class="icon-heart"></i><span><i>0</i></span></a>
                        <div class="ps-cart--mini"><a class="header__extra" href="#"><i class="icon-bag2"></i><span><i>{{session.cart.items.length}}</i></span></a>
                            <div class="ps-cart__content">
                                <div class="ps-cart__items">
                                    {{#each session.cart.items}}
                                    <div class="ps-product--cart-mobile">
                                        <div class="ps-product__thumbnail"><a href="#"><img src="{{image}}" alt="" width="56" height="56"></a></div>
                                        <div class="ps-product__content">
                                            <form action="{{config.root}}cart/remove/{{id}}" method="post">
                                            <button style="border:0px;background-color:white;" class="ps-product__remove" type="submit"><i class="icon-cross"></i></button>
                                            </form>
                                            <a href="{{config.root}}product/{{slug}}">{{title}}</a>
                                            <p><strong>Sold by:</strong> {{vendor}}</p><small>{{qty}} x {{formattedPrice}}</small>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                                <div class="ps-cart__footer">
                                    <h3>Sub Total:<strong>{{session.cart.formattedTotals}}</strong></h3>
                                    <figure><a class="ps-btn" href="{{config.root}}cart">View Cart</a><a class="ps-btn" href="{{config.root}}checkout">Checkout</a></figure>
                                </div>
                            </div>
                        </div>
                        <div class="ps-block--user-header">
                            <div class="ps-block__left"><i class="icon-user"></i></div>
                            <div class="ps-block__right">
                                {{#if user}}
                                <a href="{{config.root}}dashboard">My Account</a>
                                <a href="{{config.root}}logout">Logout</a>
                                {{else}}
                                <a href="{{config.root}}my-account">Login</a>
                                <a href="{{config.root}}my-account">Register</a>
                                {{/if}}
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navigation">
            <div class="container">
                {{!-- <ul class="menu menu--electronic">
                    {{#each headerCategories}}
                    <li>
                        <a href="homepage-4.html">
                        <i class="icon-star"></i> 
                        {{name}}
                        </a>
                    </li>
                    {{/each}}
                </ul> --}}
            </div>
        </nav>
    </header>
    <header class="header header--mobile electronic" data-sticky="true">
        <div class="header__top">
            <div class="header__left">
                <p>Welcome to Postidal Online Shopping Store !</p>
            </div>
            <div class="header__right">
                <ul class="navigation__extra">
                    <li><a href="#">Sell on Postidal</a></li>
                    <li><a href="#">Tract your order</a></li>
                    <li>
                        <div class="ps-dropdown"><a href="#">US Dollar</a>
                            <ul class="ps-dropdown-menu">
                                <li><a href="#">Us Dollar</a></li>
                                <li><a href="#">Euro</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="ps-dropdown language"><a href="#"><img src="https://res.cloudinary.com/dwrl5mija/image/upload/v1591383602/en.png" alt="">English</a>
                                <ul class="ps-dropdown-menu">
                                    <li><a href="#"><img src="https://res.cloudinary.com/dwrl5mija/image/upload/v1591383602/germany.png" alt=""> Germany</a></li>
                                    <li><a href="#"><img src="https://res.cloudinary.com/dwrl5mija/image/upload/v1591383602/fr.png" alt=""> France</a></li>
                                </ul>
                            </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="navigation--mobile" style="padding-bottom:0 !important;">
            <div class="navigation__left"><a class="ps-logo" href="{{config.root}}"><img src="https://res.cloudinary.com/dwrl5mija/image/upload/v1593630269/WhatsApp_Image_2020-07-02_at_12.32.47_AM.jpg" alt=""></a></div>
            <div class="navigation__right">
                <div class="header__actions">
                    <div class="ps-cart--mini"><a class="header__extra" href="#"><i class="icon-bag2"></i><span><i>{{session.cart.items.length}}</i></span></a>
                        <div class="ps-cart__content">
                            <div class="ps-cart__items">
                                {{#each session.cart.items}}
                                <div class="ps-product--cart-mobile">
                                    <div class="ps-product__thumbnail"><a href="#"><img src="{{image}}" alt="" width="56" height="56"></a></div>
                                        <div class="ps-product__content">
                                            <form action="{{config.root}}cart/remove/{{id}}" method="post">
                                            <button style="border:0px;background-color:white;" class="ps-product__remove" type="submit"><i class="icon-cross"></i></button>
                                            </form>
                                            <a href="{{config.root}}product/{{slug}}">{{title}}</a>
                                            <p><strong>Sold by:</strong> {{vendor}}</p><small>{{qty}} x {{formattedPrice}}</small>
                                        </div>
                                </div>
                                {{/each}}
                            </div>
                            <div class="ps-cart__footer">
                                <h3>Sub Total:<strong>{{session.cart.formattedTotals}}</strong></h3>
                                <figure><a class="ps-btn" href="{{config.root}}cart">View Cart</a><a class="ps-btn" href="{{config.root}}checkout">Checkout</a></figure>
                            </div>
                        </div>
                    </div>
                    <div class="ps-block--user-header">
                        <div class="ps-block__left"><a href="{{config.root}}my-account"><i class="icon-user"></i></a></div>
                        <div class="ps-block__right">
                            {{#if user}}
                            <a href="{{config.root}}dashboard">My Account</a>
                            <a href="{{config.root}}logout">Logout</a>
                            {{else}}
                            <a href="{{config.root}}my-account">Login</a>
                            <a href="{{config.root}}my-account">Register</a>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ps-search--mobile">
            <form class="ps-form--search-mobile" action="{{config.root}}shop" method="get">
                <div class="form-group--nest">
                    <input class="form-control" type="text" placeholder="Search something..." value="{{searchValue}}" name="search">
                    <button><i class="icon-magnifier"></i></button>
                </div>
            </form>
        </div>
    </header>
    <div class="ps-panel--sidebar" id="cart-mobile">
        <div class="ps-panel__header">
            <h3>Shopping Cart</h3>
        </div>
        <div class="navigation__content">
            <div class="ps-cart--mobile">
                {{#each session.cart.items}}
                <div class="ps-cart__content">
                    <div class="ps-product--cart-mobile">
                        <div class="ps-product__thumbnail"><a href="#"><img src="{{image}}" alt="image" width="56" height="56"></a></div>
                        <div class="ps-product__content">
                            <form action="{{config.root}}cart/remove/{{id}}" method="post">
                            <button style="border:0px;background-color:white;" class="ps-product__remove" type="submit"><i class="icon-cross"></i></button>
                            </form>
                            <a href="{{config.root}}product/{{slug}}">{{title}}</a>
                            <p><strong>Sold by:</strong> {{vendor}}</p><small>{{qty}} x {{formattedPrice}}</small>
                        </div>
                    </div>
                </div>
                {{/each}}
                <div class="ps-cart__footer">
                    <h3>Sub Total:<strong>{{formattedTotals}}</strong></h3>
                    <figure><a class="ps-btn" href="{{config.root}}cart">View Cart</a><a class="ps-btn" href="{{config.root}}checkout">Checkout</a></figure>
                </div>
            </div>
        </div>
    </div>
    <div class="ps-panel--sidebar" id="navigation-mobile">
        <div class="ps-panel__header">
            <h3>Categories</h3>
        </div>
        <div class="ps-panel__content">
            <ul class="menu--mobile">
                {{#each headerCategories}}
                <li class="menu-item-has-children has-mega-menu"><a href="/{{config.root}}category/{{slug}}">{{name}}</a><span class="sub-toggle"></span>
                    {{#if subcat.length}}
                    <div class="mega-menu" style="margin-left:1rem;padding-top:0px;">
                        <div class="mega-menu__column">
                            <ul>
                                {{#each subcat}}
                                <li><a href="/{{config.root}}shop?subcategory={{_id}}">{{name}}</a></li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                    {{/if}}
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="navigation--list">
        <div class="navigation__content"><a class="navigation__item ps-toggle--sidebar" href="#menu-mobile"><i class="icon-menu"></i><span> Menu</span></a><a class="navigation__item ps-toggle--sidebar" href="#navigation-mobile"><i class="icon-list4"></i><span> Categories</span></a><a class="navigation__item ps-toggle--sidebar" href="#search-sidebar"><i class="icon-cart"></i><span> Purchases</span></a><a class="navigation__item ps-toggle--sidebar" href="#cart-mobile"><i class="icon-bag2"></i><span> Cart ({{session.cart.items.length}})</span></a></div>
    </div>
    <div class="ps-panel--sidebar" id="search-sidebar">
        <div class="ps-panel__header">
            <h3>Purchases</h3>
        </div>
        <div class="navigation__content"></div>
    </div>
    <div class="ps-panel--sidebar" id="menu-mobile">
        <div class="ps-panel__header">
            <h3>Menu</h3>
        </div>
        <div class="ps-panel__content">
            <ul class="menu--mobile">
                <li class="current-menu-item"><a href="{{config.root}}"><i class="fa fa-home"></i> <span>Home</span></a></li>
                <li class="current-menu-item"><a href="{{config.root}}notifications"><i class="fa fa-bell-o"></i> <span>Notifications</span></a></li>
                <li class="current-menu-item"><a href="{{config.root}}cart"><i class="fa fa-shopping-cart"></i> <span>Shopping Cart</span></a></li>
                <li class="current-menu-item"><a href="{{config.root}}cart"><i class="fa fa-heart-o"></i> <span>Wish Cart</span></a></li>
                <li class="current-menu-item"><a href="{{config.root}}cart"><i class="fa fa-history"></i> <span>Order History</span></a></li>
                <li class="current-menu-item"><a href="{{config.root}}cart"><i class="fa fa-address-card-o"></i> <span>Shipping Address</span></a></li>
                <li class="current-menu-item"><a href="{{config.root}}cart"><i class="fa fa-bullhorn"></i> <span>Apply Promo</span></a></li>
                <li class="current-menu-item"><a href="{{config.root}}"><i class="fa fa-bolt"></i> <span>Today's Deals</span></a></li>
                <li class="current-menu-item"><a href="{{config.root}}cart"><i class="fa fa-cog"></i> <span>Settings: USA</span></a></li>
                <li class="current-menu-item"><a href="{{config.root}}shop"><i class="fa fa-tag"></i> <span>Shop by Department</span></a></li>
                <li class="current-menu-item"><a href="{{config.root}}login"><i class="fa fa-gift"></i> <span>Login Rewards: 100 Points</span></a></li>
                <li class="current-menu-item"><a href="{{config.root}}my-account"><i class="fa fa-user-o"></i> <span>My Account</span></a></li>
                <li class="current-menu-item menu-item-has-children">
                    <a href="#helpSubItems"><i class="fa fa-question"></i> <span>Help</span></a><span class="sub-toggle"></span>
                    <ul class="sub-menu" id="helpSubItems">
                        <li><a href="{{config.root}}privacy-policy">Privacy Policy</a></li>
                        <li><a href="{{config.root}}cookie-policy">Cookie Policy</a></li>
                        <li><a href="{{config.root}}return-policy">Return Policy</a></li>
                        <li><a href="{{config.root}}contact-us">Support</a></li>
                        <li><a href="{{config.root}}terms-and-conditions">Terms & Conditions</a></li>
                        <li><a href="{{config.root}}become-a-vendor">Become a Vendor</a></li>
                    </ul>
                    </li>
            </ul>
        </div>
    </div>