<h1>All Posts</h1>

<table class="table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Status</th>
      <th>Image</th>
      <th>Allow Comments</th>
      <th>View Post</th>
      <th>Category</th>
      <th>Date</th>
      
    </tr>
  </thead>
  <tbody>

    {{#each posts}}

    <tr>
      <td>{{id}}</td>
      <td>{{title}}</td>
      <td>{{status}}</td>
      <td>
        <img src="/uploads/{{file}}" height="50px" alt=""/>
      </td>
      <td>{{allowComments}}</td>
      <td><a href="/post/{{slug}}">View</a></td>
      <td>{{Category.name}}</td>
      <td>{{generateTime date 'MMMM Do YYYY'}}</td>
      
    </tr>

    {{/each}}
        
  </tbody>
</table>
