<style>
    .hideInDesktop .ps-product--cart{
        max-width:100% !important;
    }
    @media only screen and (max-width:800px){
        .ps-product--cart .ps-product__content{
            padding-left:4rem !important;
            text-align:left;
        }
        .ps-table--shopping-cart tbody tr td:last-child a{
            font-size:14px;
        }
        .ps-table--shopping-cart tbody tr td:first-child{
            min-width:0px !important;
        }
    }
</style>
<div class="ps-page--simple">
        <div class="ps-breadcrumb">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="{{config.root}}">Home</a></li>
                    <li><a href="{{config.root}}shop">Shop</a></li>
                    <li>Cart</li>
                </ul>
            </div>
        </div>
        <div class="ps-section--shopping ps-shopping-cart pt-0 mt-3">
            <div class="container">
                <div class="">
                    {{#if cart.items.length}}
                        <div class="col-xl-6 col-12 m-auto">
                            <div class="ps-block--shopping-total">
                                {{!-- <div class="ps-block__header">
                                    <p>Subtotal <span> ${{cart.withoutShippingTotals}}</span></p>
                                </div> --}}
                                <div class="ps-block__content">
                                    <h3>Subtotal <span>${{cart.withoutShippingTotals}}</span></h3>
                                </div>
                            </div><a class="ps-btn ps-btn--fullwidth mb-3" href="{{config.root}}checkout" style="background-color: #ff9900; color : black">Proceed to checkout</a>
                        </div>
                    {{/if}}
                </div>
                <div class="ps-section__content">
                    <div class="table-responsive">
                        <table class="table ps-table--shopping-cart">
                            <tbody>
                                {{#each cart.items}}
                                <tr class="text-center hideInMobile">
                                    <td>
                                        <div class="ps-product--cart">
                                            <div class="ps-product__thumbnail"><a href="{{image}}"><img src="{{image}}" alt="" width="100" height="100"></a></div>
                                            <div class="ps-product__content"><a href="{{config.root}}product/{{slug}}">
                                                {{title}}</a>
                                                <p>SOLD BY <strong>{{vendor}}</strong></p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <a href="/save-for-later?product_id={{id}}" class="button-amz mr-2" style="padding-top:10px;padding-bottom:10px">
                                        {{#if savedForLater}}
                                            Already saved
                                        {{else}}
                                            Save for later
                                        {{/if}}
                                        </a>
                                    </td>
                                    <td class="price">{{formattedPrice}}</td>
                                    <td>
                                        <form method="post" action="{{config.root}}cart/update/{{id}}" id="updateForm{{id}}">
                                        <div class="form-group--number">
                                            <button type="button" class="up addItem" data-id="{{id}}" data-qty="{{qty}}">+</button>
                                            <button type="button" class="down removeItem" data-id="{{id}}" data-qty="{{qty}}">-</button>
                                            <input class="form-control" type="text" value="{{qty}}" min="1" name="qty">
                                        </div>
                                        <button type="submit" style="display:none;"></button>
                                        </form>
                                    </td>
                                    <td>${{multiply price qty}}</td>
                                    <td>
                                        <form action="{{config.root}}cart/remove/{{id}}" method="post">
                                            <button type="submit" class="button-amz mr-2" style="width:auto !important">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                                <tr class="text-center hideInDesktop">
                                    <td>
                                        <div class="ps-product--cart">
                                            <div class="ps-product__thumbnail"><a href="{{image}}"><img src="{{image}}" alt="" width="100" height="100"></a></div>
                                            <div class="ps-product__content"><a href="{{config.root}}product/{{slug}}">
                                                {{title}} SOLD BY <strong>{{vendor}}</strong></a>
                                                <p class="price red-large font-weight-bold">{{formattedPrice}}</p>
                                            </div>
                                        </div>
                                        <div class="cont" style="display : flex; justify-content:space-between">
                                            <form method="post" action="{{config.root}}cart/update/{{id}}" id="updateForm{{id}}">
                                                <div class="form-group--number mt-5">
                                                    <button type="button" class="up addItem" data-id="{{id}}" data-qty="{{qty}}">+</button>
                                                    <button type="button" class="down removeItem" data-id="{{id}}" data-qty="{{qty}}">-</button>
                                                    <input class="form-control" type="text" value="{{qty}}" min="1" name="qty">
                                                </div>
                                                <button type="submit" style="display:none;"></button>
                                            </form>
                                            <form action="{{config.root}}cart/remove/{{id}}" method="post">
                                                <button type="submit" class="button-amz mr-2 mt-5">Delete</button>
                                            </form>
                                            <a href="/save-for-later?product_id={{id}}" class="button-amz mr-2 mt-5" style="padding-top:10px;">
                                            {{#if savedForLater}}
                                                Already saved
                                            {{else}}
                                                Save for later
                                            {{/if}}
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr  class="text-center hideInDesktop">
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                    {{!-- <div class="ps-section__cart-actions">
                        <a class="ps-btn" href="{{config.root}}shop"><i class="icon-arrow-left"></i> Back to Shop</a>
                    {{#if cart.items.length}}
                    <form action="{{config.root}}cart/empty" method="post">
                    <button class="ps-btn" type="submit"><i class="icon-sync"></i> Empty cart</a>
                    </form>
                    {{/if}}
                    </div> --}}
                </div>
                <div class="ps-section__footer">
                    <div class="row">
                        {{!-- <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ">
                            <figure>
                                <figcaption>Coupon Discount</figcaption>
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="">
                                </div>
                                <div class="form-group">
                                    <button class="ps-btn ps-btn--outline">Apply</button>
                                </div>
                            </figure>
                        </div> --}}
                        {{!-- <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ">
                            <figure>
                                <figcaption>Calculate shipping</figcaption>
                                <div class="form-group">
                                    <select class="ps-select select2-hidden-accessible" data-select2-id="1" tabindex="-1" aria-hidden="true">
                                        <option value="1" data-select2-id="3">America</option>
                                        <option value="2">Italia</option>
                                        <option value="3">Vietnam</option>
                                    </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="2" style="width: 120px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-7m5f-container"><span class="select2-selection__rendered" id="select2-7m5f-container" role="textbox" aria-readonly="true" title="America">America</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Town/City">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Postcode/Zip">
                                </div>
                                <div class="form-group">
                                    <button class="ps-btn ps-btn--outline">Update</button>
                                </div>
                            </figure>
                        </div> --}}
                        {{#if cart.items.length}}
                        <div class="col-xl-6 col-12 m-auto">
                            <div class="ps-block--shopping-total">
                                {{!-- <div class="ps-block__header">
                                    <p>Subtotal <span> ${{cart.withoutShippingTotals}}</span></p>
                                </div> --}}
                                <div class="ps-block__content">
                                    <h3>Subtotal <span>${{cart.withoutShippingTotals}}</span></h3>
                                </div>
                            </div><a class="ps-btn ps-btn--fullwidth" href="{{config.root}}checkout" style="background-color: #ff9900; color : black">Proceed to checkout</a>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).on("click",".addItem",function(){
            const product_id=$(this).data("id");
            const qty=parseInt($(this).data("qty"))+1;
            $(`#updateForm${product_id} input[name=qty]`).val(qty);
            $(`#updateForm${product_id}`).submit();
        });
        $(document).on("click",".removeItem",function(){
            const product_id=$(this).data("id");
            const qty=parseInt($(this).data("qty"))-1;
            $(`#updateForm${product_id} input[name=qty]`).val(qty);
            $(`#updateForm${product_id}`).submit();
        });
    </script>
    <style>
        .red-large{
            color:#ff3300 !important; 
            font-size:medium !important;
        }
        .button-amz{
            height: 40px !important;
            padding-left:8px;
            padding-right:8px;
            border-radius: 4px;
            border: 0px;
            background-color: rgb(189, 195, 199);
            font-family: Ubuntu, sans-serif;
            font-size: 15px;
            font-weight: 200;
        }
        .button-amz:hover{
            background-color: beige;
        }
    </style>