<div class="ps-page--simple">
        <div class="ps-breadcrumb">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="{{config.root}}">Home</a></li>
                    <li><a href="{{config.root}}shop">Shop</a></li>
                    <li>Checkout</li>
                </ul>
            </div>
        </div>
        {{#if cart.items.length}}
        <div class="ps-checkout">
            <div class="container">
                <div class="ps-section__header text-center" style="padding-bottom:4%;padding-top:4%;">
                    <h1>Place Order</h1>
                </div>
                <div class="ps-section__content">
                    <form class="ps-form--checkout" action="{{PaypalConfig.paypal.url}}" method="post">
                        <div class="row">
                            
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12  ">
                                <div class="ps-form__billing-info">
                                    <div class="form-group">
                                        <label>First Name<sup>*</sup>
                                        </label>
                                        <div class="form-group__content">
                                            <input class="form-control" type="text" name="first_name" value="{{user.first_name}}" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Last Name<sup>*</sup>
                                        </label>
                                        <div class="form-group__content">
                                            <input class="form-control" type="text" name="last_name" value="{{user.last_name}}" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Email Address<sup>*</sup>
                                        </label>
                                        <div class="form-group__content">
                                            <input class="form-control" type="email" name="email" value="{{user.email}}" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Country<sup>*</sup>
                                        </label>
                                        <div class="form-group__content">
                                            <input class="form-control" type="text" name="country" value="{{user.country}}" required>
                                        </div>
                                    </div>
                                </div>
                                <button class="ps-btn ps-btn--fullwidth" type="submit">Pay with Paypal</button>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                <div class="form-group">
                                        <label>Phone<sup>*</sup>
                                        </label>
                                        <div class="form-group__content">
                                            <input class="form-control" type="text" name="phone" value="{{user.phone}}" required>
                                        </div>
                                    </div>
                                <div class="form-group">
                                        <label>Address<sup>*</sup>
                                        </label>
                                        <div class="form-group__content">
                                            <input class="form-control" type="text" name="address" value="{{user.address}}" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Order Notes (Optional)</label>
                                        <div class="form-group__content">
                                            <textarea class="form-control" rows="7" placeholder="Notes about your order, e.g. special notes for delivery." name="order_notes" style="height:15.75rem;"></textarea>
                                        </div>
                                    </div>
                                <div class="ps-form__total">
                                    <h3 class="ps-form__heading">Your Order</h3>
                                    <div class="content">
                                        <div class="ps-block--checkout-total">
                                            <div class="ps-block__header">
                                                <p>Product</p>
                                                <p>Total</p>
                                            </div>
                                            <div class="ps-block__content">
                                                <table class="table ps-block__products">
                                                    <tbody>
                                                        {{#each session.cart.items}}
                                                        <tr>
                                                            <td><a href="#"> {{title}} ×{{qty}}</a>
                                                                <p>Sold By:<strong style="text-transform:uppercase;">{{vendor}}</strong></p>
                                                            </td>
                                                            <td>${{multiply price qty}}</td>
                                                        </tr>
                                                        {{/each}}
                                                    </tbody>
                                                </table>
                                                {{!-- <h4 class="ps-block__title">Subtotal <span>$863.49</span></h4> --}}
                                                {{!-- <div class="ps-block__shippings">
                                                    <figure>
                                                        <h4>YOUNG SHOP Shipping</h4>
                                                        <p>Free shipping</p><a href="#"> MVMTH Classical Leather Watch In Black ×1</a>
                                                    </figure>
                                                    <figure>
                                                        <h4>ROBERT’S STORE Shipping</h4>
                                                        <p>Free shipping</p><a href="#">Apple Macbook Retina Display 12” ×1</a>
                                                    </figure>
                                                </div> --}}
                                                <h3>Total <span>{{session.cart.formattedTotals}}</span></h3>
                                            </div>
                                        </div>
                                        <input type="hidden" name="cmd" value="_cart">
                                        <input type="hidden" name="upload" value="1">
                                        <input type="hidden" name="business" value="{{PaypalConfig.paypal.businessEmail}}">
                                        <input type="hidden" name="currency_code" value="{{PaypalConfig.paypal.currency}}">
                                        {{#each cart.items}}
                                        <input type="hidden" name="quantity_{{add @index 1}}" value="{{qty}}">
                                        <input type="hidden" name="item_name_{{add @index 1}}" value="{{title}}">
                                        <input type="hidden" name="amount_{{add @index 1}}" value="{{price}}">
                                        {{/each}}
                                        <div class="text-center">
                                        <input type="image" id="paypal-btn" alt="Pay with PayPal" src="https://res.cloudinary.com/dwrl5mija/image/upload/v1593702925/paypal.png" style="width:15rem;height:auto;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {{else}}
        <h2 class="alert alert-danger text-center my-4">Your cart is empty ! <a href="/shop" class="ps-btn ml-4">Go to Shop</a></h2>
        {{/if}}
    </div>