<style>
    .ps-form__content input{
        height:4rem !important;
    }
    .ps-tab,.ps-tabs{
        padding-bottom:2rem;
    }
</style>
<div class="ps-page--my-account">
        <div class="ps-breadcrumb">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="{{config.root}}">Home</a></li>
                    <li>My account</li>
                </ul>
            </div>
        </div>
        <div class="ps-my-account">
            <div class="container">
                <div class="ps-form--account ps-tab-root" action="" method="get">
                    <ul class="ps-tab-list">
                        <li class="active"><a href="#sign-in">Login</a></li>
                        <li><a href="#register">Register</a></li>
                    </ul>
                    <div class="ps-tabs">
                        <div class="ps-tab active" id="sign-in">
                            <div class="ps-form__content">
                                <form method="post" action="{{config.root}}login">
                                <h5>Log In Your Account</h5>
                                <div class="form-group">
                                    <input class="form-control" type="email" placeholder="Email" name="email" required>
                                </div>
                                <div class="form-group form-forgot">
                                    <input class="form-control" type="password" placeholder="Password" name="password" required id="loginPassword">
                                    <div class="mt-3">
                                        <input type="checkbox" onclick="togglePasswordVisibility()" style="height:1.1rem !important;cursor:pointer" id="show_password"> 
                                        <label style="font-size:1.2rem;cursor:pointer;" for="show_password">Show Password</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="">
                                        <label for="remember-me"><a href="{{config.base_url}}/forgot-password">Forgot password?</a></label>
                                    </div>
                                </div>
                                <div class="form-group submtit">
                                    <button class="ps-btn ps-btn--fullwidth">Login</button>
                                </div>
                                </form>
                            </div>
                        </div>
                        <div class="ps-tab" id="register">
                            <div class="ps-form__content">
                                <h5>Register An Account</h5>
                                <form method="post" action="{{config.root}}register">
                                <div class="form-row">
                                    <div class="col form-group">
                                        <label>First name </label>   
                                        <input type="text" class="form-control" placeholder="First Name" name="first_name" required>
                                    </div>
                                    <div class="col form-group">
                                        <label>Last name</label>
                                        <input type="text" class="form-control" placeholder="Last Name" name="last_name" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Email address</label>
                                    <input type="email" class="form-control" placeholder="Email" name="email" required>
                                    <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input class="form-control" type="password" name="password" required placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <button class="ps-btn ps-btn--fullwidth" type="submit">Register</button>
                                </div>     
                                <small class="text-muted">By clicking the 'Register' button, you confirm that you accept our <a href="{{config.root}}terms-and-conditions" style="text-decoration:underline;">Terms of use</a> , <a href="{{config.root}}privacy-policy" style="text-decoration:underline;">Privacy Policy</a> and <a href="{{config.root}}cookie-policy" style="text-decoration:underline;">Cookies Policy</a>.</small>                                          
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        function togglePasswordVisibility() {
            var x = document.getElementById("loginPassword");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }

    </script>