<div class="leftbar-tab-menu mm-active active">
      <div class="main-icon-menu in mm-show">
         <a href="{{config.root}}admin" class="logo logo-metrica d-block text-center"><span><img src="{{config.root}}img/admin/logo-sm.png" alt="logo-small" class="logo-sm"></span></a>
         <nav class="nav">
            <a href="#MetricaEcommerce" class="nav-link active" data-toggle="tooltip-custom" data-placement="right" title="" data-original-title="Ecommerce" data-trigger="hover">
               <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart align-self-center menu-icon icon-dual">
                  <circle cx="9" cy="21" r="1"></circle>
                  <circle cx="20" cy="21" r="1"></circle>
                  <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
               </svg>
            </a>
            <!--end MetricaEcommerce-->
         </nav>
         <!--end nav-->
         <div class="pro-metrica-end active">
            <a href="" class="help active" data-toggle="tooltip-custom" data-placement="right" title="" data-original-title="Chat">
               <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-circle align-self-center menu-icon icon-md icon-dual mb-4">
                  <path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path>
               </svg>
            </a>
            <a href="" class="profile active"><img src="{{config.root}}img/admin/user-1.jpg" alt="profile-user" class="rounded-circle thumb-sm"></a>
         </div>
      </div>
      <!--end main-icon-menu-->
      <div class="main-menu-inner">
         <!-- LOGO -->
         <div class="topbar-left"><a href="../ecommerce/ecommerce-index.html" class="logo"><span><img src="https://res.cloudinary.com/dwrl5mija/image/upload/v1591384547/logo-electronic.png" alt="logo-large" class="logo-lg logo-dark"> <img src="https://res.cloudinary.com/dwrl5mija/image/upload/v1591384547/logo-electronic.png" alt="logo-large" class="logo-lg logo-light"></span></a></div>
         <!--end logo-->
         <div class="slimScrollDiv mm-active active" style="position: relative; overflow: hidden; width: auto; height: 578px;">
            <div class="menu-body slimscroll mm-show" style="overflow: hidden; width: auto; height: 578px;">
               <div id="MetricaEcommerce" class="main-icon-menu-pane mm-active active">
                  <div class="title-box active">
                     <h6 class="menu-title">Ecommerce</h6>
                  </div>
                  <ul class="nav in mm-show">
                     <li class="nav-item active"><a class="nav-link active" href="{{config.root}}admin/dashboard">Dashboard</a></li>
                     <li class="nav-item"><a class="nav-link" href="{{config.root}}admin/products/add">Add Product</a></li>
                     <li class="nav-item"><a class="nav-link" href="{{config.root}}admin/products/view/1">View All Products</a></li>
                     <li class="nav-item"><a class="nav-link" href="{{config.root}}admin/categories">Manage Categories</a></li>
                     <li class="nav-item"><a class="nav-link" href="{{config.root}}admin/subcategories">Manage Subcategories</a></li>
                     <br>
                     <li class="nav-item"><a class="nav-link" href="{{config.root}}admin/homepage_ads">Manage Homepage ads</a></li>
                     <li class="nav-item"><a class="nav-link" href="{{config.root}}admin/rooms">Manage Rooms</a></li>
                     <li class="nav-item"><a class="nav-link" href="{{config.root}}admin/orders/1">Manage Orders</a></li>
                  </ul>
               </div>
               <!-- end Ecommerce -->
            </div>
            <div class="slimScrollBar" style="background: rgba(162, 177, 208, 0.13); width: 7px; position: absolute; top: 0px; opacity: 1; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 510px;"></div>
            <div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
         </div>
         <!--end menu-body-->
      </div>
      <!-- end main-menu-inner-->
   </div>